In [1]:
import pandas as pd 
import numpy as np 
pd.set_option('display.max_rows', None)
#Data Dictionary: https://data.wa.gov/api/views/f6w7-q2d2/columns.xml

In [2]:
ev_vehicle = pd.read_csv("C:/Users/kaizh/Downloads/Electric_Vehicle_Population_Data.csv")

In [3]:
ev_vehicle.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 191407 entries, 0 to 191406
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         191407 non-null  object
 1   County                                             191403 non-null  object
 2   City                                               191403 non-null  object
 3   State                                              191407 non-null  object
 4   Postal Code                                        191403 non-null  float64
 5   Model Year                                         191407 non-null  int64
 6   Make                                               191407 non-null  object
 7   Model                                              191407 non-null  object
 8   Electric Vehicle Type                              191407 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  191407 non-null  object
 10  Electric Range                                     191407 non-null  int64
 11  Base MSRP                                          191407 non-null  int64
 12  Legislative District                               190993 non-null  float64
 13  DOL Vehicle ID                                     191407 non-null  int64
 14  Vehicle Location                                   191399 non-null  object
 15  Electric Utility                                   191403 non-null  object
 16  2020 Census Tract                                  191403 non-null  float64
dtypes: float64(3), int64(4), object(10)
memory usage: 24.8+ MB

In [5]:
ev_vehicle.shape

(191407, 17)

In [6]:
ev_vehicle.columns

Index(['VIN (1-10)', 'County', 'City', 'State', 'Postal Code', 'Model Year',
       'Make', 'Model', 'Electric Vehicle Type',
       'Clean Alternative Fuel Vehicle (CAFV) Eligibility', 'Electric Range',
       'Base MSRP', 'Legislative District', 'DOL Vehicle ID',
       'Vehicle Location', 'Electric Utility', '2020 Census Tract'],
      dtype='object')

In [7]:
ev_vehicle.duplicated().sum()

0

In [8]:
ev_vehicle.isna().sum()

VIN (1-10)                                             0
County                                                 4
City                                                   4
State                                                  0
Postal Code                                            4
Model Year                                             0
Make                                                   0
Model                                                  0
Electric Vehicle Type                                  0
Clean Alternative Fuel Vehicle (CAFV) Eligibility      0
Electric Range                                         0
Base MSRP                                              0
Legislative District                                 414
DOL Vehicle ID                                         0
Vehicle Location                                       8
Electric Utility                                       4
2020 Census Tract                                      4
dtype: int64

In [9]:
ev_vehicle[ev_vehicle['County'].isna()]

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
121,5YJ3E1EA5K,NaN,NaN,BC,NaN,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220,0,NaN,475254825,NaN,NaN,NaN
123,1G1RB6S53J,NaN,NaN,BC,NaN,2018,CHEVROLET,VOLT,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,53,0,NaN,477613216,NaN,NaN,NaN
169,5YJSA1E21J,NaN,NaN,AE,NaN,2018,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,249,0,NaN,220643132,NaN,NaN,NaN
152996,5YJXCAE24H,NaN,NaN,BC,NaN,2017,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,200,0,NaN,159850029,NaN,NaN,NaN

In [4]:
ev_vehicle[ev_vehicle['Vehicle Location'].isna()]

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
121,5YJ3E1EA5K,NaN,NaN,BC,NaN,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220,0,NaN,475254825,NaN,NaN,NaN
123,1G1RB6S53J,NaN,NaN,BC,NaN,2018,CHEVROLET,VOLT,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,53,0,NaN,477613216,NaN,NaN,NaN
169,5YJSA1E21J,NaN,NaN,AE,NaN,2018,TESLA,MODEL S,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,249,0,NaN,220643132,NaN,NaN,NaN
117271,1G1FW6S08N,Pacific,Long Beach,WA,98634.0,2022,CHEVROLET,BOLT EV,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0,0,19.0,218102209,NaN,BONNEVILLE POWER ADMINISTRATION||PUD NO 2 OF P...,5.304995e+10
144242,KMHE54L2XH,Pacific,Long Beach,WA,98634.0,2017,HYUNDAI,SONATA,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,27,0,19.0,245533578,NaN,BONNEVILLE POWER ADMINISTRATION||PUD NO 2 OF P...,5.304995e+10
152996,5YJXCAE24H,NaN,NaN,BC,NaN,2017,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,200,0,NaN,159850029,NaN,NaN,NaN
182799,KNDJX3AE8H,Pacific,Long Beach,WA,98634.0,2017,KIA,SOUL EV,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,93,32250,19.0,106442773,NaN,BONNEVILLE POWER ADMINISTRATION||PUD NO 2 OF P...,5.304995e+10
185235,1C4JJXP69P,Pacific,Long Beach,WA,98634.0,2023,JEEP,WRANGLER,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,21,0,19.0,254934886,NaN,BONNEVILLE POWER ADMINISTRATION||PUD NO 2 OF P...,5.304995e+10

In [5]:
cnt_legis_district = ev_vehicle['Legislative District'].value_counts() \
                                  .reset_index() \
                                  .rename(columns = {'index':'Legislative District', 
                                                     'Legislative District': 'N'})

In [6]:
ev_subset = ev_vehicle.loc[ev_vehicle["State"] == "WA", ["County", "City", "Model Year", "Make", 
                                                      "Model", "Electric Vehicle Type", 
                                                      "Clean Alternative Fuel Vehicle (CAFV) Eligibility", 
                                                     "Electric Range", 'Base MSRP']] \
          .rename(columns = {'Electric Vehicle Type': 'EV_Type', 
                             "Clean Alternative Fuel Vehicle (CAFV) Eligibility": "CAFV", 
                             "Electric Range": "Electric_Range", 
                             'Base MSRP':"Base MSRP", 
                             "Model Year": "Model_Year"}).copy()

In [42]:
ev_subset.columns

Index(['County', 'City', 'Model_Year', 'Make', 'Model', 'EV_Type', 'CAFV',
       'Electric_Range', 'Base MSRP'],
      dtype='object')

In [7]:
ev_subset.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 190993 entries, 0 to 191406
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   County          190993 non-null  object
 1   City            190993 non-null  object
 2   Model_Year      190993 non-null  int64
 3   Make            190993 non-null  object
 4   Model           190993 non-null  object
 5   EV_Type         190993 non-null  object
 6   CAFV            190993 non-null  object
 7   Electric_Range  190993 non-null  int64
 8   Base MSRP       190993 non-null  int64
dtypes: int64(3), object(6)
memory usage: 14.6+ MB

In [8]:
city_county_count = ev_subset[["County", "City"]] \
    .value_counts() \
    .reset_index() \
    .rename(columns = {0:"N"}) \
    .sort_values(by = "N", ascending = False)

#city_county_count


'''
Q1. which county + city have the most EV?
Q2. Which EV (Model + Make + Model Year) is most popular?
Q2B. See if popular EV is popular because the practically, or brand
Q3. Is there a difference in preference EV state between top EV states and non ev states
'''

'\nQ1. which county + city have the most EV?\nQ2. Which EV (Model + Make + Model Year) is most popular?\nQ2B. See if popular EV is popular because the practically, or brand\nQ3. Is there a difference in preference EV state between top EV states and non ev states\n'

In [9]:
county_count = ev_subset["County"] \
    .value_counts(normalize = True) \
    .reset_index() \
    .rename(columns = {"index": "County",
                       "County": "N"})


#county_count

#county_count["N"].head(10).sum()

top_ten_county = county_count.head(10).copy()

In [73]:
top_ten_count

      County         N
0       King  0.518742
1  Snohomish  0.118554
2     Pierce  0.078181
3      Clark  0.059311
4   Thurston  0.036488
5     Kitsap  0.033001
6    Spokane  0.026258
7    Whatcom  0.024095
8     Benton  0.012309
9     Skagit  0.010870

Seems like the top ten counties accounts for about 91% of the total EV ownership in the State of Washington (2020 Census). Amongst the 
all counties, Kings county accounts for about 51% of the EV owernship. Based on this finding, we need to if the count of EV differs between 
county? (Potential intermediate questions - what are the most popular in the top 10 states? )

In [13]:
car_variable = ['County','Model_Year', 'Make', 'Model', 'EV_Type', 'CAFV', 'Electric_Range', 'Base MSRP']

car_detail_df = ev_subset.loc[ev_subset["County"].isin(top_ten_county["County"]), car_variable].copy()

In [36]:
cars_count_by_county = car_detail_df.groupby(by = ["County", "Make", "Model"], as_index = False)["County"].agg(["count"]) \
             .reset_index() \
             .sort_values(by = ["County", "count"], ascending = False)

In [ ]:
total_ev_top_10 = cars_count_by_county.groupby(by = "County", as_index = False)["count"] \
                    .agg(["sum"]) \
                    .reset_index() \
                    .rename(columns = {"sum":"Total"}) \
                    .drop_duplicates(subset = "County").copy()

In [20]:
top_cars_by_county = (cars_count_by_county.drop_duplicates(subset = ["County"], keep = "first")
                                         .sort_values(by = "count", ascending = False)
                                         .reset_index(drop = True)
                                         .copy())

In [40]:
county_car_join = (top_cars_by_county.merge(total_ev_top_10, how = "left", 
                        left_on = "County", 
                        right_on = "County", 
                        suffixes = ["_l", "_r"], 
                        validate = "one_to_one", 
                        indicator = True))

county_car_join["Rate"] = county_car_join["count"] /  county_car_join["Total"]
print(county_car_join)

      County    Make    Model  count  Total _merge      Rate
0       King   TESLA  MODEL Y  22271  99076   both  0.224787
1  Snohomish   TESLA  MODEL Y   6107  22643   both  0.269708
2     Pierce   TESLA  MODEL Y   2705  14932   both  0.181155
3      Clark   TESLA  MODEL Y   2032  11328   both  0.179379
4   Thurston   TESLA  MODEL Y    992   6969   both  0.142345
5     Kitsap   TESLA  MODEL Y    897   6303   both  0.142313
6    Spokane   TESLA  MODEL Y    869   5015   both  0.173280
7    Whatcom  NISSAN     LEAF    625   4602   both  0.135811
8     Benton   TESLA  MODEL 3    411   2351   both  0.174819
9     Skagit   TESLA  MODEL Y    326   2076   both  0.157033

Seems like Tesla-Model Y accounts for a sizeable percentage of each of the top 10 EV counties in the state of Washington, (not accounting for model year and other factors. Surprisingly, Whatcomm County favors Nissan-Leaf more than Tesla EV (Nissan is the top 3rd preferred brand of EV in Washington). Other than this - no new interesting fact since Tesla is the main producer of EV after all.

In [47]:
car_specs = ev_subset[['County',  'Make', #'Model',
                       'EV_Type', 'CAFV', 'Electric_Range', 'Base MSRP']]

In [58]:
car_specs.head()

,County,Make,EV_Type,CAFV,Electric_Range,Base MSRP
0,King,TESLA,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,270,0
1,Yakima,BMW,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,20,0
2,King,NISSAN,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,84,0
3,Snohomish,TESLA,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,208,0
4,Yakima,TOYOTA,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,42,0

In [85]:
car_specs.groupby(by = "Make", as_index = False)[["Electric_Range","Base MSRP"]]
         .agg("mean")
                                                                            .sort_values(by = "Electric_Range", ascending = False)

                    Make  Electric_Range     Base MSRP
17                JAGUAR      204.000000      0.000000
41  WHEEGO ELECTRIC CARS      100.000000  32995.000000
37                 TH!NK      100.000000      0.000000
7              CHEVROLET       94.154610      0.000000
10                  FIAT       85.628681      0.000000
28                NISSAN       78.748822      0.000000
36                 TESLA       73.062926   1275.255730
34                 SMART       62.084942      0.000000
3         AZURE DYNAMICS       56.000000      0.000000
2                   AUDI       47.371973      0.000000
15                 HONDA       45.566082      0.000000
30               PORSCHE       44.846740   3787.637595
19                   KIA       40.961654   2186.827212
29              POLESTAR       37.508529      0.000000
5                    BMW       33.233150   3365.390879
1             ALFA ROMEO       33.000000      0.000000
8               CHRYSLER       32.188316   1304.700474
9                  DODGE       32.000000      0.000000
27            MITSUBISHI       30.909548      0.000000
38                TOYOTA       27.725353      0.000000
20            LAND ROVER       27.542373      0.000000
24                 MAZDA       25.731497      0.000000
22               LINCOLN       23.600000      0.000000
18                  JEEP       22.337881      0.000000
39            VOLKSWAGEN       21.307821      0.000000
21                 LEXUS       20.701940      0.000000
4                BENTLEY       19.666667      0.000000
16               HYUNDAI       18.377867      0.000000
26                  MINI       17.003049   6069.512195
40                 VOLVO       16.879794   3812.525230
12                  FORD        9.950733      0.000000
25         MERCEDES-BENZ        9.297813      0.000000
6               CADILLAC        5.729091   1638.436364
11                FISKER        2.005525   6198.895028
35                SUBARU        1.192982   2455.789474
23                 LUCID        0.000000      0.000000
14                   GMC        0.000000      0.000000
31                   RAM        0.000000      0.000000
32                RIVIAN        0.000000      0.000000
33           ROLLS ROYCE        0.000000      0.000000
13               GENESIS        0.000000      0.000000
0                  ACURA        0.000000      0.000000

In [76]:
car_specs.groupby(by = ["Make", 'EV_Type'], as_index = False)['EV_Type'].agg(["count"]).reset_index().sort_values(by = "Make")

                    Make                                 EV_Type  count
0                  ACURA          Battery Electric Vehicle (BEV)      1
1             ALFA ROMEO  Plug-in Hybrid Electric Vehicle (PHEV)     56
2                   AUDI          Battery Electric Vehicle (BEV)   2408
3                   AUDI  Plug-in Hybrid Electric Vehicle (PHEV)   1474
4         AZURE DYNAMICS          Battery Electric Vehicle (BEV)      8
5                BENTLEY  Plug-in Hybrid Electric Vehicle (PHEV)      3
6                    BMW          Battery Electric Vehicle (BEV)   2847
7                    BMW  Plug-in Hybrid Electric Vehicle (PHEV)   5135
8               CADILLAC          Battery Electric Vehicle (BEV)    464
9               CADILLAC  Plug-in Hybrid Electric Vehicle (PHEV)     86
10             CHEVROLET          Battery Electric Vehicle (BEV)   9505
11             CHEVROLET  Plug-in Hybrid Electric Vehicle (PHEV)   4789
12              CHRYSLER  Plug-in Hybrid Electric Vehicle (PHEV)   3372
13                 DODGE  Plug-in Hybrid Electric Vehicle (PHEV)    618
14                  FIAT          Battery Electric Vehicle (BEV)    781
15                FISKER          Battery Electric Vehicle (BEV)    170
16                FISKER  Plug-in Hybrid Electric Vehicle (PHEV)     11
17                  FORD          Battery Electric Vehicle (BEV)   6332
18                  FORD  Plug-in Hybrid Electric Vehicle (PHEV)   3695
19               GENESIS          Battery Electric Vehicle (BEV)    218
20                   GMC          Battery Electric Vehicle (BEV)     11
21                 HONDA          Battery Electric Vehicle (BEV)     19
22                 HONDA  Plug-in Hybrid Electric Vehicle (PHEV)    836
23               HYUNDAI          Battery Electric Vehicle (BEV)   4296
24               HYUNDAI  Plug-in Hybrid Electric Vehicle (PHEV)    674
25                JAGUAR          Battery Electric Vehicle (BEV)    234
26                  JEEP  Plug-in Hybrid Electric Vehicle (PHEV)   4984
27                   KIA          Battery Electric Vehicle (BEV)   5642
28                   KIA  Plug-in Hybrid Electric Vehicle (PHEV)   3016
29            LAND ROVER  Plug-in Hybrid Electric Vehicle (PHEV)     59
30                 LEXUS          Battery Electric Vehicle (BEV)    249
31                 LEXUS  Plug-in Hybrid Electric Vehicle (PHEV)    318
32               LINCOLN  Plug-in Hybrid Electric Vehicle (PHEV)    280
33                 LUCID          Battery Electric Vehicle (BEV)    263
34                 MAZDA          Battery Electric Vehicle (BEV)      6
35                 MAZDA  Plug-in Hybrid Electric Vehicle (PHEV)    575
36         MERCEDES-BENZ          Battery Electric Vehicle (BEV)   1393
37         MERCEDES-BENZ  Plug-in Hybrid Electric Vehicle (PHEV)    390
38                  MINI          Battery Electric Vehicle (BEV)    761
39                  MINI  Plug-in Hybrid Electric Vehicle (PHEV)    223
40            MITSUBISHI          Battery Electric Vehicle (BEV)     60
41            MITSUBISHI  Plug-in Hybrid Electric Vehicle (PHEV)    935
42                NISSAN          Battery Electric Vehicle (BEV)  14225
43              POLESTAR          Battery Electric Vehicle (BEV)    938
45               PORSCHE  Plug-in Hybrid Electric Vehicle (PHEV)    501
44               PORSCHE          Battery Electric Vehicle (BEV)    680
46                   RAM          Battery Electric Vehicle (BEV)      2
47                RIVIAN          Battery Electric Vehicle (BEV)   4742
48           ROLLS ROYCE          Battery Electric Vehicle (BEV)      2
49                 SMART          Battery Electric Vehicle (BEV)    259
50                SUBARU          Battery Electric Vehicle (BEV)    901
51                SUBARU  Plug-in Hybrid Electric Vehicle (PHEV)     68
52                 TESLA          Battery Electric Vehicle (BEV)  84464
53                 TH!NK          Battery Electric Vehicle (BEV)      5
54                TOYOTA          Battery Electric Vehicle (BEV)    644
55                TOYOTA  Plug-in Hybrid Electric Vehicle (PHEV)   6507
56            VOLKSWAGEN          Battery Electric Vehicle (BEV)   5396
57                 VOLVO          Battery Electric Vehicle (BEV)   1471
58                 VOLVO  Plug-in Hybrid Electric Vehicle (PHEV)   2988
59  WHEEGO ELECTRIC CARS  Plug-in Hybrid Electric Vehicle (PHEV)      3

In [57]:
(car_specs["Make"].value_counts(ascending = False, normalize = True)
                 .reset_index()
                 .rename(columns = {'index': "Car Make", "Make":"Pct"}))
#Tesla represent 44% of the registered EVs in the State of Washington.

                Car Make       Pct
0                  TESLA  0.442236
1              CHEVROLET  0.074840
2                 NISSAN  0.074479
3                   FORD  0.052499
4                    KIA  0.045332
5                    BMW  0.041792
6                 TOYOTA  0.037441
7             VOLKSWAGEN  0.028252
8                   JEEP  0.026095
9                HYUNDAI  0.026022
10                RIVIAN  0.024828
11                 VOLVO  0.023346
12                  AUDI  0.020325
13              CHRYSLER  0.017655
14         MERCEDES-BENZ  0.009335
15               PORSCHE  0.006183
16            MITSUBISHI  0.005210
17                  MINI  0.005152
18                SUBARU  0.005073
19              POLESTAR  0.004911
20                 HONDA  0.004477
21                  FIAT  0.004089
22                 DODGE  0.003236
23                 MAZDA  0.003042
24                 LEXUS  0.002969
25              CADILLAC  0.002880
26               LINCOLN  0.001466
27                 LUCID  0.001377
28                 SMART  0.001356
29                JAGUAR  0.001225
30               GENESIS  0.001141
31                FISKER  0.000948
32            LAND ROVER  0.000309
33            ALFA ROMEO  0.000293
34                   GMC  0.000058
35        AZURE DYNAMICS  0.000042
36                 TH!NK  0.000026
37  WHEEGO ELECTRIC CARS  0.000016
38               BENTLEY  0.000016
39           ROLLS ROYCE  0.000010
40                   RAM  0.000010
41                 ACURA  0.000005